mixin sliderm(value, min, max, step, intervals)
    .sliderm-body
        .sliderm-line
            .sliderm-line-active
                .sliderm-point
                    .sliderm-hint
                        .sliderm-hint-arrow
                        .sliderm-hint-text
            .sliderm-scale
                .hidden
                    .sliderm-value= value
                    .sliderm-min= min
                    .sliderm-max= max
                    .sliderm-step= step
                    .sliderm-intervals= intervals