mixin messaging(user, img, message, placeholder)
    .messaging
        .messaging__header= user
        .messaging__line
            .messaging__icons
                i.material-icons= "mode_comment"
                i.material-icons= "local_see"
        .messaging__body
            img.messaging__user-photo(src=`img/${img}.png`, alt="no image")
            .messaging__message= message
            textarea(rows="3" cols="27").messaging__input= placeholder
            .messaging__btn
                +button('reply', ['theme_green'])