
mixin percentage(percent)
    - var cx= 5
    - var cy= 5
    - var r= 4
    - var width= 0.5
    - var l= 2 * 3.14 * r / 4
    - var angle1= 4 * l * percent / 100 - l
    if angle1 < 0 
       - angle1= 0
    - var angle2= 3 * l - angle1
    - var angle3= 4 * l * percent / 100
    svg(viewbox="0 0 10 10")
        defs
            circle(id="circle" cx=cx cy=cy r=r stroke-width=width fill="transparent")
        use(xlink:href="#circle" stroke="#e75735" stroke-dasharray="0,0,"+angle1+","+angle2+","+angle3+",0")
        text.svg-text(x="5" y="6.5" text-anchor="middle" font-size="3.5")= percent

mixin percentage4list(p1,p2,p3)
    canvas(id="cnvs" width="400px" height="400px" p1=p1 p2=p2 p3=p3)