mixin search-input(placeholder, btncolor, status)
    input.search-input(type="text" placeholder=placeholder, class=status)
    .search-button(class="search-button-"+btncolor)
        i(class="material-icons icons-size")= 'search'

mixin dropdown-input(placeholder, btncolor)
    input.search-input(type="text" placeholder=placeholder)
    .search-button(type="button" class="dropdown-toggle dropdown-toggle-split search-button-"+btncolor  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
        i(class="material-icons icons-size")= 'keyboard_arrow_down'
    //- .btn-group
    //-     button(type="button" class="btn btn-danger")= 'Action'
    //-     button(type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
    //-         span(class="sr-only")= 'Toggle Dropdown'
        
    //- .dropdown-menu
    //-     a(class="dropdown-item" href="#")= 'Action'
    //-     a(class="dropdown-item" href="#")= 'Another action'
    //-     a(class="dropdown-item" href="#")= 'Something else here'
    //-     .dropdown-divider
    //-     a(class="dropdown-item" href="#")= 'Separated link'

mixin search
    .search-block
        +search-input('Search', 'red')
    .search-block
        +search-input('I\'ve not found what I\'m looking for...', 'red', 'not-found')
    .search-block
        +dropdown-input('Choose An Option', 'green')