mixin event(header, date, month , text, img)
    .event
        img.event__img(src=`img/${img}.png`, alt="the event has no image")
        .event__content
            .event__date= date
            .event__month= month
            header.event__header= header            
            p.event__text= text
            .event__btn
                +button('add to calendar', ['theme_green', 'small'])