mixin form-input(placeholder, btntext, btncolor)
    .form-block
        input.form-input(type="text" placeholder=placeholder)
        input.form-button(type="button", value=btntext, class='form-button-'+btncolor)
        .button-arrow(class='form-button-'+btncolor)

mixin textarea(placeholder, cols, rows)
    .form-block
        textarea.form-input.form-textarea(placeholder=placeholder, cols=cols, rows=rows)

mixin toggle(name, value, tglclass, checked)
    .toggle
        if checked
            input(type="checkbox", name=name, value=value, class=tglclass, checked="checked", autocomplete="off")
        else
            input(type="checkbox", name=name, value=value, class=tglclass, autocomplete="off")
