mixin messaging(user, img, message1, message2)
    .messaging
        .messaging-header= user
        .hr-green
            .icons
                i.material-icons= "mode_comment"
                i.material-icons= "local_see"
        .messaging-body
            img.user-photo(src="img/"+img+".png", alt="no image")
            .white-message= message1
                .corner
            .grey-message= message2
            +button('reply', 'green')