mixin map(lat, lng)
    .map.js-map
        .map__frame.js-map__frame(data-lat=lat data-lng=lng)
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACjcGssb7pPGZFo7tRn8A47E86XYjRnTc&callback=initMap")
        .map__bottom
            .map__slogan= "Meet us!"
            .map__address
                .map__address1= "1259 california st"
                .map__address2= "san francisco, ca"
            .map__point
                i.material-icons= "location_searching"
            .map__target
                i.material-icons= "location_on"
