mixin map(lat, lng)
    .map
        iframe(src=`https://maps.google.com/maps?q=${lat}, ${lng}&z=15&output=embed` width="590" height="200" frameborder="0" style="border:0")
        .map__bottom
            .map__slogan= "Meet us!"
            .map__address
                .map__address1= "1259 california st"
                .map__address2= "san francisco, ca"
            .map__point
                i.material-icons= "location_searching"
            .map__target
                i.material-icons= "location_on"
                